{% extends 'base.html.twig' %}

{% block title %}New Measurement{% endblock %}

{% block body %}
    <h1>Create new Measurement</h1>

    {{ include('measurement/_form.html.twig') }}

    <a href="{{ path('app_measurement_index') }}">back to list</a>
{% endblock %}
